#contact {
  @media #{$small-up} {

    a, a:link, a:visited, a:hover, a:active {
      display: block;
      color: $primary-foreground-color;
      text-decoration: none;
      outline: none;
      padding: .5rem 1rem;
      text-align: right;
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }

    i {
      display: inline-block;
      font-size: 3rem;
      vertical-align: middle;
    }

    .phone {
      margin-bottom: 1rem;

      a { 
        color: $secondary-foreground-color;
        text-align: left; }

      span {
        padding: 0 0 0 .5rem; 
        text-align: left; }

      em { 
        display: block; 
        font-size: 2rem; 
        line-height: 2rem; }
    }

    li {
      position: relative;
      padding: 0;
      margin: .2rem 0;

      div {
        background-color: $primary-background-color;
        border-radius: .8rem;
        display: inline-block;

        &:before {
          content: '';
          position: absolute;
          border-style: solid;
          border-color: transparent $primary-background-color;
          display: block;
          width: 0;
          z-index: 1;
          top: 12px;
        }

        &.msg-left {
          margin-left: .3rem;

          &:before {
            border-width: 10px 10px 10px 0;
            left: -5px; }

          a { text-align: left; }
          span { padding: 0 0 0 1rem; }
        }

        &.msg-right {
          margin-right: .3rem;

          &:before {
            border-width: 10px 0 10px 10px;
            right: -5px; }

          span { padding: 0 1rem 0 0; }
        }

        &.email {
          em { 
            display: block; 
            font-size: 1.5rem; 
            line-height: 1.5rem; }
        }
      }
    }
  }
}