skill-chart {
  display: block;
  width: 50%;
  margin: 0 25%;

  .chart-base {
    fill: $quaternary-background-color;
  }

  .chart-slice {
    fill: $tertiary-background-color;
  }

  text {
    fill: $primary-foreground-color;
  }
}