@keyframes swing {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-25%);
  }
  100% {
    transform: translateY(0%);
  }
}

header {
  @media #{$small-up} {
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: $primary-background-color;
    color: $white;

    .cover {
      @include vertical-align; }

    h1 {
      margin: 0;
      color: $white;
      font-size: 22vw;
      line-height: 18vw;

      em {
        display: block;
        font-style: normal;
        font-size: 19vw;
        line-height: 16vw; }
    }

    p {
      margin: 6vh 12vw 5vh;
      line-height: 5.5vw;
      font-size: 5vw; }

    .more {
      position: absolute;
      bottom: .5vh;
      width: 100vw;
      animation: swing 1.5s infinite;
      
      .glyphicons { 
        padding: 0; }

      i:before { 
        color: $white;
        font-size: 11vw;
        position: relative; }
    }
  }

  @media #{$small-up and $landscape} {
    h1 {
      font-size: 22vh;
      line-height: 18vh;

      em {
        font-size: 19vh;
        line-height: 16vh; }
    }

    p {
      margin: 8vh 15vw 5vh;
      line-height: 5.8vh;
      font-size: 5.5vh; }

    .more {
      i:before {
        font-size: 8vh;
      }
    }
  }
}
