$primary-foreground-color: #fff;
$primary-background-color: #1ea8e0;

$secondary-foreground-color: #1ea8e0;
$secondary-background-color: #fff;

html, html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
  overflow-x: hidden;
}

.primary, .secondary {
	position: relative;
	text-align: center;
}

.primary {
	color: $primary-foreground-color;
	background-color: $primary-background-color;

	h1, h2 {
		color: $primary-foreground-color; }
}

.secondary {
	color: $secondary-foreground-color;
	background-color: $secondary-background-color;

	h1, h2 {
		color: $secondary-foreground-color; }
}