@import "normalize";
@import "settings";
@import "foundation";

$small-primary-color: #1ea8e0;

#headline {
  @media #{$small-only} {
    height: 100vh;
    background-color: $small-primary-color;
    text-align: center;

    h1 {
      margin: 0;
      color: $white;
      font-size: 69.9pt;

      em {
        font-style: normal;
        font-size: 60.5pt;
        display: block;
        line-height: 0.2em;
      }
    }
  }
}
