@import "normalize";
@import "settings";
@import "foundation";

$small-primary-color: #1ea8e0;

#cover {
  @media #{$small-only} {
    height: 100vh;
    background-color: $small-primary-color;
    color: $white;
  }
}
