doctype html
html(ng-app="rogeriocarvalho.io")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content="Rogerio Carvalho's professional experiences and his passion about UI/UX Design, front-end development, design patterns, test driven approaches and agile methodologies.")
    meta(name='author', content='Rogerio Wenzel Carvalho')
    meta(name='keywords', content='rogeriocarvalho.io, rogerio, wenzel, carvalho, rogerio carvalho, rogerio wenzel carvalho')

    title Rogerio Carvalho

    link(rel='canonical', href='http://rogeriocarvalho.io')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet', type='text/css')
    link(href='/app.css?v=#{version}', rel='stylesheet', type='text/css')

    script(type="application/ld+json").
      {
        "@context": "http://schema.org/",
        "@type": "Person",
        "name": "Rogerio Carvalho",
        "additionalName": "Wenzel",
        "jobTitle": "Software Developer",
        "image": "/img/rogeriocarvalho.min.jpg",
        "email": "mailto:rogerio.w.carvalho@gmail.com",
        "telephone": "+55 (51) 93228033",
        "url": "http://rogeriocarvalho.io"
      }
  body
    header
      .row.cover
        .small-10.small-offset-1.columns
          h1 rogerio
            em carvalho
          p Passionate about UI/UX Design, front-end development, design patterns, test driven approaches and agile methodologies.
      .more
        a.glyphicons.circle_arrow_down(href='')
          i

    section#career-cycle.secondary
      .row
        .small-12.columns
          h2 Software Developer
      .row
        .small-10.small-offset-1.columns
          p Passionate about UI/UX Design, front-end development, design patterns, test driven approaches and agile methodologies
      .row
        .small-12.medium-8.medium-offset-2.columns
          img(src='/img/career-cycle.min.svg')

    section#skills.primary
      .brain
        img(src='/img/brain.min.svg')
      .statistics.creative
        b 60%
        span Creative and visual
      .statistics.logical
        b 40%
        span Logical
      .row
        .small-10.small-offset-1.columns
          p
            | A software engineer?
            br
            | A software developer?
            br
            | A frontend developer?
            br
            | An aspiring UI/UX designer?
            br
            | You name it...
            br
          p
            | I don't feel like I should fit into a single label, neither I want to be put into one. I see myself as a creative individual who loves software engineering and problem solving.
        .row
          .small-12.columns
            h2 Skill Set
        .row
          .small-10.small-offset-1.columns
            p Tap to see more details on each platform specifics.
        .row
          .small-10.small-offset-1.medium-8.medium-offset-2.columns
            ul.small-block-grid-2.medium-block-grid-3
              li
                img(src="/img/js-chart.min.svg")
                span 90%
              li
                img(src="/img/net-chart.min.svg")
                span 100%
              li
                img(src="/img/html5-chart.min.svg")
                span 100%
              li
                img(src="/img/css3-chart.min.svg")
                span 75%
              li
                img(src="/img/sfdc-chart.min.svg")
                span 65%
    
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js")
    script(src="/app.js?v=#{version}")
